body {
    color: white;
    background: #69d3eb;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
} 

header {
    border-bottom: solid 2px rgb(74, 189, 209);
    padding: 20px;
    font-size: 28px;
    color: rgb(0, 175, 202);
}

.chamada {
    background:rgb(52, 191, 216);
    padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
     opacity: 1.0;
     border: 1px solid rgb(30, 1, 65)
}

.categoria h2 {
    color:  rgb(0, 175, 202);
}